flask
flask_cors
google-generativeai
python-dotenv
langchain
pypdf
chromadb
faiss-cpu
langchain_google_genai
fastapi
pydantic
pydantic==1.10.7
uvicorn
requests
fastapi[all] starlette
fastapi[all] 
starlette
mysql-connector-python
fastapi_jwt_auth
passlib
twilio

