flask
flask_cors
google-generativeai
python-dotenv
langchain
langchain-community==0.2.16
pypdf
chromadb
faiss-cpu
langchain-google-genai
fastapi
pydantic
uvicorn
requests
#fastapi[all] starlette
fastapi[all] 
starlette
fastapi-jwt-auth
passlib
twilio
gunicorn


